@charset "utf-8";
@import "_var", "_mixin";
@font-face{
    font-family: nanumS;
    font-weight: 300;
    src: url("../fonts/NanumSquareL.woff") format("woff"),
    url("../fonts/NanumSquareL.woff2") format("woff2"),
    url("../fonts/NanumSquareL.ttf") format("truetype");
}
@font-face{
    font-family: nanumS;
    font-weight: 400;
    src: url("../fonts/NanumSquareR.woff") format("woff"),
    url("../fonts/NanumSquareR.woff2") format("woff2"),
    url("../fonts/NanumSquareR.ttf") format("truetype");
}
@font-face{
    font-family: nanumS;
    font-weight: 500;
    src: url("../fonts/NanumSquareB.woff") format("woff"),
    url("../fonts/NanumSquareB.woff2") format("woff2"),
    url("../fonts/NanumSquareB.ttf") format("truetype");
}
@font-face{
    font-family: ave;
    font-weight: 300;
    src: url("../fonts/AvenirLTStd-Book.woff") format("woff"),
        url("../fonts/AvenirLTStd-Book.woff2") format("woff2"),
        url("../fonts/AvenirLTStd-Book.otf") format("opentype");
}
@font-face{
    font-family: ave;
    font-weight: 400;
    src: url("../fonts/AvenirLTStd-Roman.woff") format("woff"),
        url("../fonts/AvenirLTStd-Roman.woff2") format("woff2"),
        url("../fonts/AvenirLTStd-Roman.otf") format("opentype");
}
@font-face{
    font-family: ave;
    font-weight: 500;
    src: url("../fonts/Avenir-Heavy.woff") format("woff"),
        url("../fonts/AvenirLTStd-Heavy.woff2") format("woff2"),
        url("../fonts/AvenirLTStd-Heavy.ttf") format("truetype");
}
body, h1, h2, h3, h4, h5, h6, p, ul, button, figure{padding: 0;margin: 0;}
h1, h2, h3, h4, h5, h6{font-family: ave;color: $blue;}
ul{list-style: none;}
a:link, a:visited, a:hover, a:active{text-decoration: none;color: inherit;}
button{border: none;background: none;color: inherit;cursor: pointer;}
img{vertical-align: top;}
address{font-style: normal;}
header, nav, section, article, footer{display: block;}

/* common class */
.f_l{float: left;}
.f_r{float: right;}
.p_r{position: relative;}
.p_a{position: absolute;}
.clearfix::after{content: "";display: block;clear: both;}
.sr-only{position: absolute;top: 0;left: -9999px;}
.nonvisible{visibility: hidden;}
.area{padding-left: 16px;padding-right: 16px;}
.menu_area{margin: 70px 20px 20px;}
.boxarea{
    @include radius(10px);
    @include boxShadow(1px 1px 3px #666);
}
.roundbox{
    @include radius(60px);
    @include boxShadow(1px 1px 3px #666);
}

body{font-family: nanumS; font-size: 14px;color: $darkgray;line-height: 1.3;word-break: keep-all;}
#wrap{min-width: 320px;overflow: hidden;}
#content{padding-top: 60px;}
.tab{cursor: pointer;}
.tabpanel{
    display: none;
    &.active{display: block;}
}

/* svg */
svg {
    .st0, .st1{fill: none;stroke: $blue;stroke-linecap: round;stroke-linejoin: round;stroke-miterlimit: 10;}
    &#logo, &#logoIcon{
        .st3{fill: $blue;}
    }
    &#homeIcon, &#cartIcon, &#searchIcon, &#searchIcon2, &#align, &#view, &.icon_cart, &.icon_like, &.review{
        .st0{stroke-width: 7;}
        .st1{stroke-width: 7;}
    }
    &#cart, &#order, &#like, &#recent{
        .st0 {stroke-width: 6;}
        .st1 {stroke-width: 6;}
    }
}

/* header */
#header{
    @include boxShadow(1px 1px 5px #888);
    position: fixed;width: 100%;z-index: 700;height: 60px;background: #fff;
    .headertop{
        width: 100vw;margin: 20px 16px 12px;z-index: 800;
        .logo{height: 32px;width: 60px;left: 50%;margin-left: -60px;top: -3px;}
        .quick{height: 24px;right: 12vw;top: 0;}
        .quick li{float: right;height: 24px;width: 30px;margin-left: 3px;} 
        #searchIcon{height: 24px;}
    }

    .btn_menu{
        &, .line{position: absolute;}
        top: 20px;left: 16px;height: 20px;width: 26px;margin-top: 3px;z-index: 1000;
        .line{
            @include radius(40px);
            @include transition(all 0.5s);
            position: absolute;left: 0;height: 2px;background: $blue;
            &.top{top: 0;width: 100%;}
            &.mid{top: 9px;width: 80%;}
            &.btm{top: 18px;width: 60%;}
        }
        &.active{
            .top{
                @include transform(rotate(45deg));
                top: 10px;
            }
            .mid{opacity: 0;}
            .btm{
                @include transform(rotate(-45deg));
                top: 10px;width: 100%;
            }
        }
    }

    #headerSearch{
        visibility: hidden;position: fixed;top: 60px;width: 100%;height: 50px;background: $darkgray;z-index: 800;
        #searchForm{
            @include radius(100px);
            position: relative;background: #fff;margin:10px 70px 10px 16px;height: 30px;
            #searchKeyword, button{position: absolute;top: 4px;height: 20px;}
            #searchKeyword{border: none;color: inherit;left: 16px;}
            button{right: 16px;}
        }
        .search_close{position: absolute;width: 21px;height: 21px;top: 14px;right: 16px;}
    }
}

/* gnb */
#dim{display: none;position: fixed;width: 100%;height: 100%;z-index: 800;top: 0;left: 0;background: $blue;}
#gnb{
    position: fixed;top: 0;left: -1000px;bottom: 0;background: #fff;overflow-y: auto;z-index: 900;width: 87%;max-width: 360px;min-width: 287px;
    .logo{
        top: 10px;left: 50%;margin-left: -56px;height: 54px;
        #logoIcon{height: 100%;}
    }
    #homeIcon{position: absolute;top: 20px;right: 20px;height: 27px;}
    .sign_util{
        height: 50px;width: 100%;
        button{
            @include radius(100px);
            @include boxShadow(1px 1px 3px #666);
            position: absolute;top: 80px;height: 40px;width: 42%;font-size: 15px;margin: 0 16px;letter-spacing: 3px;
        }
        .signup{left: 0;background: $bleached;}
        .login{right: 0;background: $blue;color: #fff;}
    }
    .quick_menu{
        @include displayFlex;
        justify-content: space-between;font-size: 12px;color: #666;text-align: center;width: 100%;
        li a div{    
            @include displayFlex;
            @include radius(50%);
            @include boxShadow(1px 1px 3px #666);
            height: 50px;width: 50px;justify-content: center;align-items: center;margin: 25px 5px 10px;
        }
        li a div svg{width: 35px;}
    }
    #categoryTab{
        .tablist{
            width: 100%;letter-spacing: 3px;margin-top: 25px;
            &, .tab.active{
                @include radius(50px);
                @include boxShadow(1px 1px 3px #666);
                height: 42px;
            }
            .tab{
                width: 50%;float: left;text-align: center;line-height: 42px;font-size: 16px;
                &.active{background: $blue;color: #ffffff;}
            }
        }
        .tabpanel{
            color: #666;margin-bottom: 5px;
            ul{
                padding: 25px 0 25px 20px;width: 40%;
                li{padding: 5px;}
            }
        }
    }
    .fold{
        > li{
            margin-bottom: 15px;
            > a{display: flex;font-size: 20px;color: $blue;height: 24px;line-height: 24px;letter-spacing: 2px;padding: 5px;}
            > a span{
                @include radius(50%);
                @include boxShadow(1px 1px 3px #666);
                display: inline-block;position: relative;height: 22px;width: 22px;margin-right: 10px;
                &::before, &::after{content: "";position: absolute;top: 50%;width: 16px;height: 2px;background: $blue;left: 3px;}
                &::after{
                    @include transform(rotate(90deg));
                    @include transition(transform 0.5s);
                }
            }
            &.on > a{
                font-weight: 500;letter-spacing: 4px;
                span{
                    background: $blue;
                    &::after{@include transform(rotate(0deg));background: #fff;}
                }
            } 
        }
        li ul{
            display: none;padding-top: 5px;
            li a{color: #666;padding: 5px 20px;display: block;}
        } 
    }
    .menu_btm{
        display: flex;justify-content: space-between;letter-spacing: 2px;margin-bottom: 10px;
        li{
            width: 30%;
            a{
                height: 40px;line-height: 40px;text-align: center;background: $bleached;display: block;
                &:hover, &:focus{background: $blue;color: #fff;}
            }
        } 
    }
}

/* main */
#content article h4{
    font-size: 18px;letter-spacing: 3px;margin: 50px 0 20px;
    span{font-weight: 400;}
}

.main_visual_bnr{
    .swiper-container{
        height: 360px;margin-top: 30px;
        .swiper-slide{
            width: 274px;height: 356px;margin-right: 10px;
            a{
                @include bgcover(cover);
                display: block;width: 100%;height: 100%;background: no-repeat center;
                @media 
                screen and (-webkit-min-device-pixel-ratio: 3),
                screen and (min-resolution: 3dpi),
                screen and (min-resolution: 3dppx) {
                    &.bnr1{background-image: url("../images/main/main_banner1x3.jpg");}
                    &.bnr2{background-image: url("../images/main/main_banner3x3.jpg");}
                    &.bnr3{background-image: url("../images/main/main_banner2x3.jpg");}
                }
            }
        }
    }
    .swiper-pagination-fraction{bottom: 100px;left: 10px;}
} 

.md_pick{
    color: $bleached;font-size: 20px;letter-spacing: 5px;font-family: ave;
    a, .md_box{width: 100%;height: 105px;display: block;}
    a{
        @include borderBox;
        @include bgcover(cover);
        position: relative;display: block;
        p{position: absolute;bottom: 10px;right: 10px;width: 100%;text-align: right;}
        &.md_visual1{margin-bottom: 10px;}
    }
    .md_box{
        height: 105px;font-size: 16px;font-weight: 500;
        .md_visual2{width: 42%;margin-right: 3%;}
        .md_visual3{width: 55%;}
    }
    @media 
        screen and (-webkit-min-device-pixel-ratio: 3),
        screen and (min-resolution: 3dpi),
        screen and (min-resolution: 3dppx) {
            .md_visual1{background-image: url("../images/main/md_img1x3.jpg");}
            .md_visual2{background-image: url("../images/main/md_img2x3.jpg");}
            .md_visual3{background-image: url("../images/main/md_img3x3.jpg");}
        }
}

.main_bestsellor{
    .swiper-container{
        height: 140px;
        .swiper-slide{
            width: 120px !important;height: 140px;
            a{
                display: block;width: 100%;height: 100%;font-size: 12px;font-weight: 300;
                div{
                    @include bgcover(cover);
                    background: no-repeat center;height: 110px;width: 110px;margin-bottom: 10px;
                }
                @media 
                screen and (-webkit-min-device-pixel-ratio: 3),
                screen and (min-resolution: 3dpi),
                screen and (min-resolution: 3dppx) {
                    .best_item_img1{background-image: url("../images/main/product1x3.jpg");}
                    .best_item_img2{background-image: url("../images/main/product2x3.jpg");}
                    .best_item_img3{background-image: url("../images/main/product3x3.jpg");}
                    .best_item_img4{background-image: url("../images/main/product4x3.jpg");}
                    .best_item_img5{background-image: url("../images/main/product5x3.jpg");}
                }
            }
        }
    }
}

.main_brand{
    a{
        @include bgcover(cover);
        display: block;width: 100%;height: 170px;margin-bottom: 50px;
        @media 
            screen and (-webkit-min-device-pixel-ratio: 3),
            screen and (min-resolution: 3dpi),
            screen and (min-resolution: 3dppx) {
                &{background-image: url("../images/main/main_brand2x3.jpg");}
            }   
    }

}

/* brand page */
#aboutPuri{
    height: calc(100vh - 60px);
    .swiper-container{
        height: 100%;width: 100%;position: relative;
        .swiper-slide{
            width: 100%;height: 100%;
            &:nth-child(1){background: $mint;}
            &:nth-child(2){background: #6e6761;}
            &:nth-child(3){background: #8da55f;}
            figure{
                img{width: 100%;max-width: 480px;}
            }
            div{
                color: #fff;padding: 16px;letter-spacing: 2px;
                span{font-size: 50px;font-weight: 300;letter-spacing: 5px;}
                strong{font-size: 45px;padding: 18px 0 15px;display: block;font-weight: 300;font-family: ave;letter-spacing: 7px;line-height: 1;}
            }
        }
    }
    .bulletpg{position: absolute;left: 100px;bottom: 207px;display: flex;align-items: center;}
    .swiper-pagination-bullet {
        width: 8px;height: 8px;background: #fff;opacity: .5;text-indent: -9999px;outline: none;margin-right: 7px;

    }
    .swiper-pagination-bullet-active {
        width: 13px;height: 13px;opacity: 1;
    }
}

@media screen and (orientation: landscape) {
    #aboutPuri{
        .swiper-container{
            .swiper-slide{
                overflow: hidden;
                figure, div{float: left;width: 50%;}
                figure{
                    overflow: hidden;
                    img{width: auto;height: 100%;}
                }
                div{
                    @include borderBox;
                    color: #fff;padding: 16px;letter-spacing: 2px;
                    span{font-size: 50px;font-weight: 300;letter-spacing: 5px;}
                    strong{font-size: 45px;padding: 18px 0 15px;display: block;font-weight: 300;font-family: ave;letter-spacing: 7px;line-height: 1;}
                }
            }
        }
        .bulletpg{position: absolute;left: 100px;bottom: 207px;display: flex;align-items: center;}
        .swiper-pagination-bullet {
            width: 8px;height: 8px;background: #fff;opacity: .5;text-indent: -9999px;outline: none;margin-right: 7px;
    
        }
        .swiper-pagination-bullet-active {
            width: 13px;height: 13px;opacity: 1;
        }
    }    
}

#brandTab{
    margin-top: 25px;
    .tablist{
        height: 40px;
        .tab{float: left;width: 65px;height: 40px;line-height: 40px;text-align: center;background: $bleached;font-size: 16px;letter-spacing: 2px;margin-right: 10px;}
        .tab.active{background: $darkgray;color: #fff;}
    }
    .tabpanel{
        div:first-child{
            @include bgcover(cover);
            height: 100px;width: 100%;background: no-repeat center;position: relative;margin: 20px 0;
            &::before{
                @include radius(10px);
                content: "";display: block;background: rgba(0, 0, 0, 0.3);height: 100px;
            }
            p{
                position: absolute;width: 100%;top: 35%;left: 0;font-size: 20px;letter-spacing: 4px;color: #fff;text-align: center;
                span{padding: 0 6px;font-size: 26px;}
            }
            @media 
            screen and (-webkit-min-device-pixel-ratio: 3),
            screen and (min-resolution: 3dpi),
            screen and (min-resolution: 3dppx) {
                &.nature_visual{background-image: url("../images/brand/nature_visualx3.jpg");}
                &.science_visual{background-image: url("../images/brand/science_visualx3.jpg");}
                &.eco_visual{background-image: url("../images/brand/eco_visualx3.jpg");}
            }
        }
        ul li{
            position: relative;height: 300px;
            strong, p{text-align: right;line-height: 1.5;position: absolute;right: 0;}
            strong{letter-spacing: 2px;top: 20%;font-size: 18px;}
            p{font-size: 15px;padding: 15px 0 35px;letter-spacing: 1px;width: 90%;}
            &.even{
                text-align: right;
                strong, p{text-align: left;}
                strong{left: 0;}
                p{margin-left: 0;left: 0;}
            }
            img{width: 70%;max-width: 350px;}
        }
    }
}

/* skincare page */
.skincare_visual{
    width: 100%;height: 130px;text-align: center;color: #ffffff;letter-spacing: 3px;
    @include bgcover(cover);
    @media 
        screen and (-webkit-min-device-pixel-ratio: 3),
        screen and (min-resolution: 3dpi),
        screen and (min-resolution: 3dppx) {
            &{background-image: url("../images/product_skincare/skincare_visualx3.jpg")}   
        }
    h3{font-size: 34px;position: absolute;bottom: 26px;color: #ffffff;font-family: ave;font-weight: 300;left: 0px;width: 100%;letter-spacing: 6px;}
    p{padding-top: 38px;font-size: 17px;}
}
.controls{
    @include borderBox;
    height: 50px;width: 100%;font-size: 20px;line-height: 50px;letter-spacing: 3px;color: #777;
    button{
        height: 24px;vertical-align: middle;margin-left: 5px;
        svg{height: 100%;}
    }
}
.product_list{
    @include boxShadow(1px 1px 3px #666);
    height: 45px;
    .swiper-container .swiper-wrapper{
        height: 45px;margin-top: 6px;
        .swiper-slide{
            @include radius(40px);
            font-size: 15px;margin-right: 15px;height: 32px;line-height: 33px;width: auto;text-align: center;background: $bleached;color: #666666;
            a{padding: 0 13px;}
            &.swiper-slide-active{
                @include boxShadow(1px 1px 3px #666);
                background: $paleblue;font-weight: 500;
            }
        }
    }
}
.product_items ul{
    display: flex;flex-wrap: wrap;min-width: 320px;justify-content: space-between;margin: 20px 10px 0;
    li{
        @include borderBox;
        @media screen and (max-width: 660px) {
            &{width: 33.333%;}
        }
        @media screen and (max-width: 480px) {
            &{width: 50%;}
        }
        width: 25%;margin-bottom: 30px;padding: 6px;
        .boxarea{
            @include borderBox;
            position: relative;overflow: hidden;width: 100%;min-width: 135px;
            img{height: 100%;width: 100%;}
            .item_txt{
                @include borderBox;
                position: absolute;bottom: 0;height: 55px;left: 0;background: rgba(255, 255, 255, 0.8);width: 100%;letter-spacing: 2px;padding: 7px 5px;
                p:first-child{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width: 100%;}
                .price{
                    margin-top: 5px;text-align-last: right;font-size: 16px;position: relative;
                    .dc{text-decoration: line-through;color: #777777;font-size: 12px;margin-right: 6px;position: absolute;left: 0;}
                }
            }
        }
        .iconbox{
            height: 40px;margin-top: 10px;
            .icon{
                display: inline-block;width: 35px;height: 35px;margin-right: 5px;
                svg{height: 60%;margin: 7px 5px;}
            }
        }
    }
}


/* footer */
#footer{
    @include borderBox;
    width: 100%;height: 250px;background: $bleached;padding: 0 16px;
    ul{
        display: flex;justify-content: space-between;height: 16px;padding: 18px 0;color: #666;max-width: 320px;
        /* li{padding-right: 20px;} */
    }
    strong{font-size: 16px;}
    address{
        margin: 18px 0 18px;line-height: 1.5;
        span{color: #666;margin-bottom: 5px;}
        span::after{content: "";display: inline-block;width: 1px;height: 13px;margin: 0 7px -2px;background: #666;}
    }
}
